version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/openjdk:21.0

    working_directory: ~/sfg-pet-clinic-5

    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout
      - restore_cache:
          keys:
            - sfg-pet-clinic-5-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run: mvn install -DskipTests
      - run: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: sfg-pet-clinic-5-{{ checksum "pom.xml" }}
      - run: mvn integration-test

workflows:
  sample:
    jobs:
      - build-and-test
